@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

input:disabled {
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
}