#crud-table tr{
    cursor: pointer;
}
.dt-container select.dt-input {
    padding: 4px 20px 4px 4px !important;
    background-position: right 0px center;
    margin-bottom: 0.7rem;
}

.dt-container .dt-search .dt-input {
    line-height: 1.22em !important;
}

.dt-container .dt-length .dt-input {
    line-height: 1.36em !important;
}

.dt-button {
    padding: 9px 10px !important;
    margin-top: 0px !important;
    line-height: 0.8em !important;
}

/* Selected row color */
table.display.dataTable>tbody>tr.selected>*,
table.display.dataTable>tbody>tr.odd.selected>*,
table.dataTable.hover > tbody > tr.selected:hover > *, table.dataTable.display > tbody > tr.selected:hover > *, 
table.display.dataTable>tbody>tr.selected:hover>* {
    box-shadow: inset 0 0 0 9999px #acbad4 !important;
    color: #333 !important;
    background-color: #fff !important;
}
